@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700;1,800&family=Roboto:wght@400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0 solid;
  font-family: "Kanit", sans-serif;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}



/*

LANDING PAGE

*/

.showcase {
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  color: #fff;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
}

.landing__page--logo {
  text-transform: uppercase;
  cursor: pointer;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.landing__page--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 37, 0.6);
}

.landing__page--para {
  position: relative;
  z-index: 10;
}

.landing__h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.landing__h3 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.landing__para {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.landing__free {
  cursor: pointer;
}

.landing__pricing--policy {
  cursor: pointer;
}



.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #fff;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

/*

MOVIES 

*/

#movies {
  padding: 96px 0;
  
}

.movies__title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 800;
  padding: 0 0 56px 0;
}

.search__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0 0 56px 0;
}

input {
  font-size: 1rem;
}

.search__result--filter {
  display: flex;
  justify-content: space-around;
}

.movie__wrapper {
  padding: 120px 0;
}

.movie__wrapper--general {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.movie__poster {
  width: 225px;
  height: 350px;
}

.fa-imdb {
  font-size: 24px;
}

/*

MEDIA 

*/

@media (max-width: 768px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .landing__h2 {
    font-size: 3em;
  }
  .landing__h3 {
    font-size: 2em;
  }
}
